<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/lib/fontawesome-pro-5.12.0-web/css/all.css" rel="stylesheet">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    {{ encore_entry_link_tags('templateHomeB') }}
    {{ encore_entry_link_tags('templateHome') }}
    <title>Accueil | Module Template</title>
</head>
<body>
    <div class="container">
        <div class="modals-group">
            {% include '/template/accueil/modals/template_action_modals.html.twig' %}
        </div>
        <nav id="stages-nav">
            <ul id="stages-nav__choices">

                {% if 1 in user.permissions.access %}
                    <li class="{% if stage is same as(1) %} active {% endif %} stages-nav__choice" data-stage="1"><p><a href="{{ path('template::home',{ stage: 1 }) }}">Etape n°1</a></p></li>
                {% endif %}

                {% if 2 in user.permissions.access %}
                    <li class="{% if stage is same as(2) %} active {% endif %} stages-nav__choice" data-stage="2"><p><a href="{{ path('template::home',{ stage: 2 }) }}">Etape n°2</a></p></li>
                {% endif %}

                {% if 3 in user.permissions.access %}
                    <li class="{% if stage is same as(3) %} active {% endif %} stages-nav__choice" data-stage="3"><p><a href="{{ path('template::home',{ stage: 3 }) }}">Etape n°3</a></p></li>
                {% endif %}

            </ul>
        </nav>
        <section>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia, itaque!</p>

            {% include 'template/accueil/template_actions_panels.html.twig' %}



        </section>

    </div>
    {{ encore_entry_script_tags('templateHome')  }}
    {{ encore_entry_script_tags('templateHomeB')  }}
    <script>

    </script>
</body>
</html>